# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store